In [1]:
import numpy as np
import pandas as pd
import requests
import json
import datetime
from pandas.io.json import json_normalize 
import json

In [2]:
#range of dates I want the acuals from.
from datetime import datetime
start = datetime(2020, 1, 7)

end = datetime(2020, 3, 31)

index = pd.date_range(start, end)
index

DatetimeIndex(['2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-11', '2020-01-12', '2020-01-13', '2020-01-14',
               '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-18',
               '2020-01-19', '2020-01-20', '2020-01-21', '2020-01-22',
               '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26',
               '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30',
               '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03',
               '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07',
               '2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11',
               '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15',
               '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19',
               '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23',
               '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27',
               '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02',
               '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10',
               '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14',
               '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18',
               '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22',
               '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26',
               '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30',
               '2020-03-31'],
              dtype='datetime64[ns]', freq='D')

In [3]:
#Dublin
data = []
for i in index:
    unix_time = i.strftime("%s")
    #url for dark sky, coordinates for dublin
    url = "https://api.darksky.net/forecast/683bc0b700f80b16a38071e086ca29c0/53.363889,-6.333333,{unix_time}".format(unix_time= unix_time)
    #getting JSON file from darksky
    JSONContent = requests.get(url).json()
    #flattening the data into to a df
    hourly_data = json_normalize(data = JSONContent,
                            record_path = ['hourly', 'data'],
                            meta = ['latitude', 'longitude', 'offset'], 
                            errors='ignore')
    #changing unix datetime to normal datetime.
    hourly_data['time']= pd.to_datetime(hourly_data['time'],unit='s')
    #summing the precip intenisty
    total = hourly_data['precipIntensity'].sum()
    
    totals = total * 24
    #creating a new df with the totals precipitation in mm.
    data = {'Date': [i], 'Actual': totals, 'Location': 'Dublin'}
    df = pd.DataFrame(data)
    df.to_csv('observedValues.csv',index=False, mode='a', header= False)

In [4]:
#Claremorris
data = []
for i in index:
    unix_time = i.strftime("%s")
    url = "https://api.darksky.net/forecast/683bc0b700f80b16a38071e086ca29c0/53.7167,-9.0000,{unix_time}".format(unix_time= unix_time)
    JSONContent = requests.get(url).json()
    hourly_data = json_normalize(data = JSONContent,
                            record_path = ['hourly', 'data'],
                            meta = ['latitude', 'longitude', 'offset'], 
                            errors='ignore')
    hourly_data['time']= pd.to_datetime(hourly_data['time'],unit='s')
    total = hourly_data['precipIntensity'].sum()
    totals = total * 24
    data = {'Date': [i], 'Actual': totals, 'Location': 'Mayo'}
    df = pd.DataFrame(data)
    df.to_csv('observedValues.csv',index=False, mode='a', header= False)

In [5]:
#Donegal
data = []
for i in index:
    unix_time = i.strftime("%s")
    url = "https://api.darksky.net/forecast/683bc0b700f80b16a38071e086ca29c0/54.4939,-8.2331,{unix_time}".format(unix_time= unix_time)
    JSONContent = requests.get(url).json()
    hourly_data = json_normalize(data = JSONContent,
                            record_path = ['hourly', 'data'],
                            meta = ['latitude', 'longitude', 'offset'], 
                            errors='ignore')
    hourly_data['time']= pd.to_datetime(hourly_data['time'],unit='s')
    total = hourly_data['precipIntensity'].sum()
    totals = total * 24
    data = {'Date': [i], 'Actual': totals, 'Location': 'Donegal'}
    df = pd.DataFrame(data)
    df.to_csv('observedValues.csv',index=False, mode='a', header= False)

In [6]:
#Wexford
data = []
for i in index:
    unix_time = i.strftime("%s")
    url = "https://api.darksky.net/forecast/683bc0b700f80b16a38071e086ca29c0/52.2917,-6.4972,{unix_time}".format(unix_time= unix_time)
    JSONContent = requests.get(url).json()
    hourly_data = json_normalize(data = JSONContent,
                            record_path = ['hourly', 'data'],
                            meta = ['latitude', 'longitude', 'offset'], 
                            errors='ignore')
    hourly_data['time']= pd.to_datetime(hourly_data['time'],unit='s')
    total = hourly_data['precipIntensity'].sum()
    totals = total * 24
    data = {'Date': [i], 'Actual': totals, 'Location': 'Wexford'}
    df = pd.DataFrame(data)
    df.to_csv('observedValues.csv',index=False, mode='a', header= False)

In [7]:
df = pd.read_csv("observedValues.csv",  names=['Date', 'Amounts', 'Location'])

In [8]:
df.head()

         Date  Amounts Location
0  2020-01-07   3.8832   Dublin
1  2020-01-08   2.1000   Dublin
2  2020-01-09  11.3328   Dublin
3  2020-01-10   0.5952   Dublin
4  2020-01-11   5.4480   Dublin